@import "../Tiny-Components//Tiny.components.css";

*{
    transition: background var(--global-transition-duration);
}

body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: var(--global-color);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* Change the styling props how ever you like */
:root{
    /* Duration Section */
    --global-transition-duration: 200ms;
    --global-collapsing-transition-duration: 0.6s;
    
    /* For Light Mode */
    --global-color: #383838;
    /* Color Section */

    /* links */
    --link-color: coral;
    --link-visited-color: #cf3d07;
    --a-default-color: rgb(4, 161, 252);
    /* Inputs */
    --input-submit-bg: #00b881;
    --input-submit-color: white;
    --input-color-bg-color: #00c58a;
    --input-focus-shadow-color: #808000ab;
    --input-field-color: #3a3a3a;
    --input-field-border-color: #a0a0a0;

    /* Experimental be aware  💥💥*/
    --input-radio-bg: #f3f3f3;
    --input-radio-inner-circle-bg: #00b881;
    --input-checkbox-bg: #f3f3f3;
    --input-checkbox-checked-bg: #00c58a;
    --input-checkbox-symbol-color: #f3f3f3;

    --input-switch-bg: #f3f3f3;
    --input-switch-toggle-bg: white;
    --input-switch-checked-bg: #1d64e7;

    --dark-input-field-bg: #4e4e4e;
    --dark-input-field-border-color: #380081;
    --dark-input-field-color: white;
    --dark-input-field-placeholder-color: #dddddd;
    --dark-input-focus-shadow-color: #8e20e9;
    /* lists */
    --list-bg: #f0f0f0;
    --dark-list-bg: #474747;
    /* tables */
    --table-bg: #f0f0f0;
    --table-thead-tr-border: #141414;
    --table-thead-tr-bg: #dfdfdf;
    --table-tbody-tr-border: #5f5f5f;
    --table-tbody-tr-bg: #eeeeee;
    --table-tfoot-tr-border: #141414;
    --table-tfoot-tr-bg: #d7f3f3;
    /* btn's */
    --btn-primary-bg: #be4fff;
    --btn-secondary-bg: #4b0077;
    --btn-secondary-color: white;
    --btn-danger-bg: #fd6b7f;
    --btn-success-bg: #00d612;
    --btn-chill-bg: #ffef14;
    --btn-close-bg: #fcfafa;
    --btn-close-color: #ff7c7c;
    
    --dark-btn-bg: #414141;
    --dark-btn-disabled-bg: #5e5e5e;
    /* body scroll bar */
    --scrollbar-bg:#cef5ff;
    --scrollbar-thumb-bg: #74e2fd;
    --scrollbar-thumb-bg-hover: #47b0ca;
    --scrollbar-thumb-bg-active: #1e6172;
    --scrollbar-button-bg: cornflowerblue;
    --scrollbar-button-bg-hover: #456ebb;
    --scrollbar-button-bg-active: #1f407e;

    --scroll-thumb-radius: 50px;

    --dark-scrollbar-thumb-bg: #7488fd;
    --dark-scrollbar-thumb-bg-hover: #6c66be;
    --dark-scrollbar-thumb-bg-active: #3e3da7;
    --dark-scrollbar-button-bg: #9961ff;
    --dark-scrollbar-button-bg-hover: #9f45bb;
    --dark-scrollbar-button-bg-active: #7b1f7e;
    /* body selection*/
    --selection-bg: #c5fffa;
    /* div's */
    --container-div-bg: #f1f1f1;
}


*::selection{
    background-color: var(--selection-bg);
}


h1, h2, h3, h4{
    font-weight: 500;
}
a{
    text-decoration: none;
    color: var(--a-default-color);
}

.scroll::-webkit-scrollbar{
    width: 12.3px;
    background-color: var(--scrollbar-bg);
}
.scroll::-webkit-scrollbar-thumb{
    background-color: var(--scrollbar-thumb-bg);
    border-radius: var(--scroll-thumb-radius);
}
.scroll::-webkit-scrollbar-thumb:hover{
    background-color: var(--scrollbar-thumb-bg-hover);
}
.scroll::-webkit-scrollbar-thumb:active{
    background-color: var(--scrollbar-thumb-bg-active);
}
.scroll::-webkit-scrollbar-button{
    background-color: var(--scrollbar-button-bg);
}
.scroll::-webkit-scrollbar-button:hover{
    background-color: var(--scrollbar-button-bg-hover);
}
.scroll::-webkit-scrollbar-button:active{
    background-color: var(--scrollbar-thumb-bg-active);
}

/* Default Link*/
.link{
    text-decoration: none;
    color: var(--link-color);
}
.link:visited{
    color: var(--link-visited-color);
}


/* Default button */
.btn,
.btn-primary,
.btn-secondary,
.btn-success,
.btn-danger,
.btn-chill,
.btn-close{
    transition: var(--global-transition-duration) all;
    border: none;
    border-radius: 5px;
    padding: 10px;
    outline: none;
    cursor: pointer;
}
/* btn classes */
.btn-primary{
    background-color: var(--btn-primary-bg);
}
.btn-secondary{
    background-color: var(--btn-secondary-bg);
    color: var(--btn-secondary-color);
}
.btn-success{
    background-color: var(--btn-success-bg);
}
.btn-danger{
    background-color: var(--btn-danger-bg);
}
.btn-chill{
    background-color: var(--btn-chill-bg);
}
.btn:disabled{
    cursor: not-allowed;
    filter: brightness(0.8);
}
.btn-close{
    background-color: var(--btn-close-bg);
    color: var(--btn-close-color);
    font-size: 20px;
}
.btn-block{
    display: block;
    width: 100%;
}

.btn:hover,
.input-custom[type="button"]:hover,
.input-custom[type="submit"]:hover,
.select:hover, .link:hover,
.navSide-link:hover, a:hover,
.navLink a:hover{
    filter: brightness(0.85);
}
.btn:active,
.input-custom[type="button"]:active,
.input-custom[type="submit"]:active,
.link:active,
.navSide-link:active, a:active,
.navLink a:active{
    transform: scale(0.95);
}

/* List Styled Special */

.ul, .ol{
    padding: 0;
}
.ul-with-bg, .ol-with-bg{
    border-radius: 5px;
    background-color: var(--list-bg);
}
.ul li, .ol li,
.ul-with-bg li,
.ol-with-bg li{
    padding: 5px;
}

/* Default Input Styles */
.input-custom[type="text"], .input-custom[type="date" ],
.input-custom[type="email" ], .input-custom[type="number"],
.input-custom[type="password"], .input-custom[type="search"],
.input-custom[type="url"]{
    padding: 10px;
    border-radius: 3px;
    color: var(--input-field-color);
    border: var(--input-field-border-color) 1px solid;
    font-size: 16px;
}

.input-custom[type="text"]:focus, .input-custom[type="date" ]:focus,
.input-custom[type="email" ]:focus, .input-custom[type="number"]:focus,
.input-custom[type="password"]:focus, .input-custom[type="search"]:focus,
.input-custom[type="url"]:focus, .select:focus{
    box-shadow: 0 0 2px 2px var(--input-focus-shadow-color);
}

/* Default Input Submit */
.input-custom[type="submit"]{
    background-color: var(--input-submit-bg);
    border: none;
    border-radius: 5px;
    padding: 10px;
    outline: none;
    color: var(--input-submit-color);
    cursor: pointer;
}
/* Default Input btn */
.input-custom[type="button"]{
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}



/* Switch Check box */


.input-switch{
    outline: none;
    -webkit-appearance: none;
    background-color: var(--input-switch-bg);
    width: 40px;
    height: 20px;
    border-radius: 50px;
    position: relative;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.384);
}
.input-switch::before{
    content: '';
    height: 20px;
    width: 20px;
    position: absolute;
    top: 0;
    left: 0;
    background: var(--input-switch-toggle-bg);
    border-radius: 50%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.274);
    transition: var(--global-transition-duration) all;
}

.input-switch:checked{
    background-color: var(--input-switch-checked-bg);
    box-shadow: inset 0 0 5px rgba(255, 255, 255, 0.808);
}

.input-switch:checked::before{
    left: 20px;
}

/* Default Input color */
.input-custom[type="color"]{
    border-radius: 5px;
    border: none;
    padding: 5px;
    background-color: var(--input-radio-bg);
}
.input-custom::placeholder{
    font-size: 14px;
}
.input-custom:focus::placeholder{
    font-size: 12px;
    transition: var(--global-transition-duration) all;
}
.input-custom{
    transition: var(--global-transition-duration);
    outline: none;
}
/* Default Table */
.table{
    background-color: var(--table-bg);
    border-collapse: collapse;
    color: black;
}
.table .thead .tr{
    border: 2px solid var(--table-thead-tr-border);
    background-color: var(--table-thead-tr-bg);
}
.table .tbody .tr{
    border: 2px solid var(--table-tbody-tr-border);
    background-color: var(--table-tbody-tr-bg);
}
.table .tfoot .tr{
    border: 2px solid var(--table-tfoot-tr-border);
    background-color: var(--table-tfoot-tr-bg);
}
.table .td, .table .th{
    padding: 10px;
    border-left: var(--table-tbody-tr-border) 1px solid;
}
.table .td-primary{
    color: var(--btn-primary-bg)
}
.table .td-secondary{
    color: var(--btn-secondary-bg)
}
.table .td-success{
    color: var(--btn-success-bg)
}
.table .td-danger{
    color: var(--btn-danger-bg)
}
.table .th-primary{
    color: var(--btn-primary-bg)
}
.table .th-secondary{
    color: var(--btn-secondary-bg)
}
.table .th-success{
    color: var(--btn-success-bg)
}
.table .th-danger{
    color: var(--btn-danger-bg)
}


/* Default Div */
.container-div{
    background-color: var(--container-div-bg);
    padding: 20px;
}

/* Select default */
.select{
    transition: var(--global-transition-duration) all;
    background-color: #f1f1f1;
    border: none;
    padding: 10px;
    border-radius: 5px;
    outline: none;
}



/* dark Section */

.body[data-shade="dark"]{
    background-color: black;
}


.scroll[data-shade="dark"]::-webkit-scrollbar{
    background-color: var(--dark-common-bg) !important;
}
.scroll[data-shade="dark"]::-webkit-scrollbar-thumb{
    background-color: var(--dark-scrollbar-thumb-bg) !important;
    border-radius: var(--scroll-thumb-radius) !important;
}
.scroll[data-shade="dark"]::-webkit-scrollbar-thumb:hover{
    background-color: var(--dark-scrollbar-thumb-bg-hover) !important;
}
.scroll[data-shade="dark"]::-webkit-scrollbar-thumb:active{
    background-color: var(--dark-scrollbar-thumb-bg-active) !important;
}
.scroll[data-shade="dark"]::-webkit-scrollbar-button{
    background-color: var(--dark-scrollbar-button-bg) !important;
}
.scroll[data-shade="dark"]::-webkit-scrollbar-button:hover{
    background-color: var(--dark-scrollbar-button-bg-hover) !important;
}
.scroll[data-shade="dark"]::-webkit-scrollbar-button:active{
    background-color: var(--dark-scrollbar-thumb-bg-active) !important;
}

/* For White Font */
.container-div[data-shade="dark"], .ul-with-bg[data-shade="dark"],
.ol-with-bg[data-shade="dark"], .btn[data-shade="dark"],
.input-custom[type="button"][data-shade="dark"],
.select[data-shade="dark"]{
    color: var(--dark-common-color) !important;
}
/* Individual version of .ol .li .btn .select 
   For White font*/
.btn[data-shade="dark"],
.btn-close[data-shade="dark"],
.input-custom[type="button"][data-shade="dark"],
.select[data-shade="dark"]{
    background-color: var(--dark-btn-bg) !important;
}
.btn[data-shade="dark"]:disabled{
    background-color: var(--dark-btn-disabled-bg);
    color: #a7a7a7 !important;
}
/* Container Version */

.ul-with-bg[data-shade="dark"], .ol-with-bg[data-shade="dark"]{
    background-color: var(--dark-list-bg) !important;
}

/* Input Field Dark Individual */
.input-custom[type="text"][data-shade="dark"],
.input-custom[type="date"][data-shade="dark"],
.input-custom[type="email" ][data-shade="dark"],
.input-custom[type="number"][data-shade="dark"],
.input-custom[type="password"][data-shade="dark"],
.input-custom[type="search"][data-shade="dark"],
.input-custom[type="url"][data-shade="dark"]{
    background-color: var(--dark-input-field-bg);
    color: var(--dark-input-field-color);
    border: var(--dark-input-field-border-color) 1px solid;
}
.input-custom[data-shade="dark"]::placeholder{
    color: var(--dark-input-field-placeholder-color);
}

/* All individual Input Types */
.input-custom[type="text"][data-shade="dark"]:focus,
.input-custom[type="date" ][data-shade="dark"]:focus,
.input-custom[type="email" ][data-shade="dark"]:focus,
.input-custom[type="number"][data-shade="dark"]:focus,
.input-custom[type="password"][data-shade="dark"]:focus,
.input-custom[type="search"][data-shade="dark"]:focus,
.input-custom[type="url"][data-shade="dark"]:focus,
.select[data-shade="dark"]:focus{
    box-shadow: 0 0 2px 2px var(--dark-input-focus-shadow-color) !important;
}

/* Dark version of container div */
.container-div[data-shade="dark"]{
    background-color: var(--dark-common-bg) !important;
    color: white;
}




/* Container version Theme */


.container[data-shade="dark"] > .btn:hover,
.container[data-shade="dark"] > .input-custom[type="button"]:hover,
.container[data-shade="dark"] > .input-custom[type="submit"]:hover,
.container[data-shade="dark"] > .select:hover, .link:hover,
.container[data-shade="dark"] > .navSide-link:hover, a:hover,
.container[data-shade="dark"] > .navLink a:hover{
    filter: brightness(0.85);
}
.container[data-shade="dark"] > .btn:active,
.container[data-shade="dark"] > .input-custom[type="button"]:active,
.container[data-shade="dark"] > .input-custom[type="submit"]:active,
.container[data-shade="dark"] > .link:active,
.container[data-shade="dark"] > .navSide-link:active, a:active,
.container[data-shade="dark"] > .navLink a:active{
    transform: scale(0.95);
}

/* Joined version of .ol .li .btn .select 
   For White font*/
.container[data-shade="dark"] > .container-div, .container[data-shade="dark"] > .ul-with-bg,
.container[data-shade="dark"] > .ol-with-bg, .container[data-shade="dark"] > .btn,
.container[data-shade="dark"] > .input-custom[type="button"],
.container[data-shade="dark"] > .select{
    color: var(--dark-common-color) !important;
}
.container[data-shade="dark"] > .btn,
.container[data-shade="dark"] > .btn-close,
.container[data-shade="dark"] > .input-custom[type="button"],
.container[data-shade="dark"] > .select{
    background-color: var(--dark-btn-bg) !important;
}
.container[data-shade="dark"] > .btn:disabled{
    background-color: var(--dark-btn-disabled-bg);
    color: #a7a7a7 !important;
}
/* Input Field Dark Joined */
.container[data-shade="dark"] > .input-custom[type="text"],
.container[data-shade="dark"] >.input-custom[type="date"],
.container[data-shade="dark"] >.input-custom[type="email" ],
.container[data-shade="dark"] >.input-custom[type="number"],
.container[data-shade="dark"] >.input-custom[type="password"],
.container[data-shade="dark"] >.input-custom[type="search"],
.container[data-shade="dark"] >.input-custom[type="url"]{
    background-color: var(--dark-input-field-bg);
    color: var(--dark-input-field-color);
    border: var(--dark-input-field-border-color) 1px solid;
}
/* Input placeholder joined */
.container[data-shade="dark"] > .input-custom::placeholder{
    color: var(--dark-input-field-placeholder-color);
}
/* Input field dark joined Focus Pseudo */
.container[data-shade="dark"] > .input-custom[type="text"]:focus,
.container[data-shade="dark"] > .input-custom[type="date" ]:focus,
.container[data-shade="dark"] > .input-custom[type="email" ]:focus,
.container[data-shade="dark"] > .input-custom[type="number"]:focus,
.container[data-shade="dark"] > .input-custom[type="password"]:focus,
.container[data-shade="dark"] > .input-custom[type="search"]:focus,
.container[data-shade="dark"] > .input-custom[type="url"]:focus,
.container[data-shade="dark"] > .select:focus{
    box-shadow: 0 0 2px 2px var(--dark-input-focus-shadow-color) !important;
}
/* For Joined container-div */
.container[data-shade="dark"] > .container-div{
    background-color: var(--dark-common-bg) !important;
    color: white;
}
.test{
    align-items: ;
}