/* For Responsive Img */
.img-responsive {
  max-width: 100%;
  height: auto;
}
.img-xl{
    width: 225px;
    height: 225px;
}
.img-lg{
    width: 120px;
    height: 120px;
}
.img-md{
    width: 65px;
    height: 65px;
}
.img-sm {
  width: 40px;
  height: 40px;
}
.img-xs{
    width: 25px;
    height: 25px;
}
/* All Blocky Elements */
.display-inline{
  display: inline;
}
.display-inline-block {
  display: inline-block;
}
.display-block {
  display: block;
}
.float-left {
  float: left;
}
.float-right {
  float: right;
}

/* Dimension */
.width-half{
  width: 50%;
}
.height-half{
  height: 50%;
}
.width-vw-half{
  width: 50vw;
}
.height-vh-half{
  height: 50vh;
}
.width-full{
  width: 100%;
}
.height-full{
  height: 100%;
}
.width-vw-full{
  width: 100vw;
}
.height-vh-full{
  height: 100vh;
}
.width-quarter{
  width: 25%;
}
.height-quarter{
  height: 25%;
}
.width-vw-quarter{
  width: 25vw;
}
.height-vh-quarter{
  height: 25vh;
}
.width-3quarter{
  width: 75%;
}
.height-3quarter{
  height: 75%;
}
.width-vw-3quarter{
  width: 75vw;
}
.height-vh-3quarter{
  height: 75vh;
}
/* Border modification */
.border-circle {
  border-radius: 50%;
}
.border-rounded {
  border-radius: 10px;
}
.border-none{
  border: none;
}
.border-none-strict{
  border: none !important;
}

/* * Border Styles */
.border-dashed{
  border-style: dashed;
}
.border-dotted{
  border-style: dotted;
}
.border-double{
  border-style: double;
}
.border-groove{
  border-style: groove;
}
.border-solid{
  border-style: solid;
}
.border-ridge{
  border-style: ridge;
}
.border-hidden{
  border-style: hidden;
}
/* * Different border widths */
.tiny-border{
  border-width: 1px;
}
.md-border{
  border-width: 3px;
}
.qt-border{
  border-width: 5px;
}
.lg-border{
  border-width: 7px;
}
.xl-border{
  border-width: 10px;
}


/* Little Padding */
.no-padding{
  padding: 0;
}
.no-margin{
  margin: 0;
}
.no-padding-strict{
  padding: 0 !important;
}
.no-margin-strict{
  margin: 0 !important;
}

.xs-padding{
  padding: 3px;
}

.tiny-padding {
  padding: 10px;
}
/* Little Margin */
.xs-margin{
  margin: 3px;
}

.tiny-margin {
  margin: 10px;
}

.md-margin{
  margin: 25px;
}
.qt-margin{
  margin: 50px;
}
.lg-margin{
  margin: 65px;
}
.xl-margin{
  margin: 85px;
}
.md-padding{
  padding: 25px;
}
.qt-padding{
  padding: 50px;
}
.lg-padding{
  padding: 65px;
}
.xl-padding{
  padding: 85px;
}

/* * Padding MArgin X */
.xs-padding-x{
  padding: 3px initial;
}

.tiny-padding-x {
  padding: 10px initial;
}
/* Little Margin */
.xs-margin-x{
  margin: 3px initial;
}

.tiny-margin-x {
  margin: 10px initial;
}

.md-margin-x{
  margin: 25px initial;
}
.qt-margin-x{
  margin: 50px initial;
}
.lg-margin-x{
  margin: 65px initial;
}
.xl-margin-x{
  margin: 85px initial;
}
.md-padding-x{
  padding: 25px initial;
}
.qt-padding-x{
  padding: 50px initial;
}
.lg-padding-x{
  padding: 65px initial;
}
.xl-padding-x{
  padding: 85px initial;
}

/* *Margin Padding Y */
/* Little Padding */
.xs-padding-y{
  padding: initial 3px;
}

.tiny-padding-y {
  padding: initial 10px;
}
/* Little Margin */
.xs-margin-y{
  margin: initial 3px;
}

.tiny-margin-y {
  margin: initial 10px;
}

.md-margin-y{
  margin: initial 25px;
}
.qt-margin{
  margin: initial 50px;
}
.lg-margin-y{
  margin: initial 65px;
}
.xl-margin-y{
  margin: initial 85px;
}
.md-padding-y{
  padding: initial 25px;
}
.qt-padding-y{
  padding: initial 50px;
}
.lg-padding-y{
  padding: initial 65px;
}
.xl-padding-y{
  padding: initial 85px;
}

/* * margin padding Left */
.xs-padding-left{
  padding-left: 3px;
}
.xs-margin-left{
  margin-left: 3px;
}
.tiny-padding-left {
  padding-left: 10px;
}
.tiny-margin-left {
  margin-left: 10px;
}
.md-margin-left{
  margin-left: 25px;
}
.qt-margin-left{
  margin-left: 50px;
}
.lg-margin-left{
  margin-left: 65px;
}
.xl-margin-left{
  margin-left: 85px;
}
.md-padding-left{
  padding-left: 25px;
}
.qt-padding-left{
  padding-left: 50px;
}
.lg-padding-left{
  padding-left: 65px;
}
.xl-padding-left{
  padding-left: 85px;
}

/** Margin Padding Right */
.xs-padding-right{
  padding-right: 3px;
}
.xs-margin-right{
  margin-right: 3px;
}
.tiny-padding-right {
  padding-right: 10px;
}
.tiny-margin-right {
  margin-right: 10px;
}
.md-margin-right{
  margin-right: 25px;
}
.qt-margin-right{
  margin-right: 50px;
}
.lg-margin-right{
  margin-right: 65px;
}
.xl-margin-left{
  margin-right: 85px;
}
.md-padding-right{
  padding-right: 25px;
}
.qt-padding-right{
  padding-right: 50px;
}
.lg-padding-right{
  padding-right: 65px;
}
.xl-padding-right{
  padding-right: 85px;
}
/* *Margin padding top */
.xs-padding-top{
  padding-top: 3px;
}
.xs-margin-top{
  margin-top: 3px;
}
.tiny-padding-top {
  padding-top: 10px;
}
.tiny-margin-top {
  margin-top: 10px;
}
.md-margin-top{
  margin-top: 25px;
}
.qt-margin-top{
  margin-top: 50px;
}
.lg-margin-top{
  margin-top: 65px;
}
.xl-margin-top{
  margin-top: 85px;
}
.md-padding-top{
  padding-top: 25px;
}
.qt-padding-top{
  padding-top: 50px;
}
.lg-padding-top{
  padding-top: 65px;
}
.xl-padding-top{
  padding-top: 85px;
}

/* * Margin Padding bottom */
.xs-padding-bottom{
  padding-bottom: 3px;
}
.xs-margin-bottom{
  margin-bottom: 3px;
}
.tiny-padding-bottom {
  padding-bottom: 10px;
}
.tiny-margin-bottom {
  margin-bottom: 10px;
}
.md-margin-bottom{
  margin-bottom: 25px;
}
.qt-margin-bottom{
  margin-bottom: 50px;
}
.lg-margin-bottom{
  margin-bottom: 65px;
}
.xl-margin-bottom{
  margin-bottom: 85px;
}
.md-padding-bottom{
  padding-bottom: 25px;
}
.qt-padding-bottom{
  padding-bottom: 50px;
}
.lg-padding-bottom{
  padding-bottom: 65px;
}
.xl-padding-bottom{
  padding-bottom: 85px;
}


/* For Centering */
.horizontal-center,
.vertical-center,.position-relative {
  position: relative;
}
.horizontal-center,
.horizontal-center-strict {
  top: 50%;
  transform: translateY(-50%);
}
.vertical-center,
.vertical-center-strict {
  left: 50%;
  transform: translateX(-50%);
}

.horizontal-center-strict,
.vertical-center-strict,
.position-absolute {
  position: absolute;
}

.position-absolute{
  position: absolute;
}
.top-0{
  top: 0;
}
.left-0{
  left: 0;
}
.right-0{
  right: 0;
}
.bottom-0{
  bottom: 0;
}
.top-10{
  top: 10%
}
.left-10{
  left: 10%
}
.right-10{
  right: 10%
}
.bottom-10{
  bottom: 10%
}

.top-20{
  top: 20%
}
.left-20{
  left: 20%
}
.right-20{
  right: 20%
}
.bottom-20{
  bottom: 20%
}

.top-30{
  top: 30%
}
.left-30{
  left: 30%
}
.right-30{
  right: 30%
}
.bottom-30{
  bottom: 30%
}

.top-40{
  top: 40%
}
.left-40{
  left: 40%
}
.right-40{
  right: 40%
}
.bottom-40{
  bottom: 40%
}

.top-50{
  top: 50%
}
.left-50{
  left: 50%
}
.right-50{
  right: 50%
}
.bottom-50{
  bottom: 50%
}

.top-60{
  top: 60%
}
.left-60{
  left: 60%
}
.right-60{
  right: 60%
}
.bottom-60{
  bottom: 60%
}

.top-70{
  top: 70%
}
.left-70{
  left: 70%
}
.right-70{
  right: 70%
}
.bottom-70{
  bottom: 70%
}

.top-80{
  top: 80%
}
.left-80{
  left: 80%
}
.right-80{
  right: 80%
}
.bottom-80{
  bottom: 80%
}

.top-90{
  top: 90%
}
.left-90{
  left: 90%
}
.right-90{
  right: 90%
}
.bottom-90{
  bottom: 90%
}

.top-100{
  top: 100%
}
.left-100{
  left: 100%
}
.right-100{
  right: 100%
}
.bottom-100{
  bottom: 100%
}

/* For Removing Ugly List Style */
.list-style-none {
  list-style: none;
}
/* For removing ugly text decoration */
.text-decoration-none {
  text-decoration: none;
}

/* Flex Items */
.display-flex{
    display: flex;
}
.flex-col{
    flex-direction: column;
}
.flex-row{
    flex-direction: row;
}
.flex-col-reverse{
  flex-direction: column-reverse;
}
.flex-row-reverse{
  flex-direction: row-reverse;
}

.justify-content-start {
  justify-content: flex-start;
}
.justify-content-center {
  justify-content: center;
}
.justify-content-end {
  justify-content: flex-end;
}
.justify-content-around {
  justify-content: space-around;
}
.justify-content-between {
  justify-content: space-between;
}
.justify-content-evenly {
  justify-content: space-evenly;
}

.justify-items-center {
  justify-items: center;
}
.justify-items-flex-start {
  justify-items: flex-start;
}
.justify-items-flex-end {
  justify-items: flex-end;
}
.justify-items-auto{
  justify-items: auto;
}
.justify-items-stretch{
  justify-items: stretch;
}
.justify-items-baseline{
  justify-items: baseline;
}
.justify-items-normal{
  justify-items: normal;
}
.justify-items-self-start{
  justify-items: self-start;
}
.justify-items-self-end{
  justify-items: self-end;
}
.justify-items-start{
  justify-items: start;
}
.justify-items-end{
  justify-items: end;
}
.justify-items-first-baseline{
  justify-items: first baseline;
}
.justify-items-last-baseline{
  justify-items: last baseline;
}
.justify-items-left{
  justify-items: left;
}
.justify-items-right{
  justify-items: right;
}


.align-items-start {
  align-items: flex-start;
}
.align-items-center {
  align-items: center;
}
.align-items-end {
  align-items: flex-end;
}
.align-items-stretch{
  align-items: stretch;
}

.align-content-start {
  align-content: flex-start;
}
.align-content-center {
  align-content: center;
}
.align-content-end {
  align-content: flex-end;
}
.align-content-around {
  align-content: space-around;
}
.align-content-between {
  align-content: space-between;
}
.align-content-evenly {
  align-content: space-evenly;
}
.align-content-stretch{
  align-content: stretch;
}


.align-self-start {
  align-self: flex-start;
}
.align-self-center {
  align-self: center;
}
.align-self-end {
  align-self: flex-end;
}
.align-self-stretch{
  align-self: stretch;
}

.justify-self-center {
  justify-self: center;
}
.justify-self-flex-start {
  justify-self: flex-start;
}
.justify-self-flex-end {
  justify-self: flex-end;
}
.justify-self-auto{
  justify-self: auto;
}
.justify-self-stretch{
  justify-self: stretch;
}
.justify-self-baseline{
  justify-self: baseline;
}
.justify-self-normal{
  justify-self: normal;
}
.justify-self-self-start{
  justify-self: self-start;
}
.justify-self-self-end{
  justify-self: self-end;
}
.justify-self-start{
  justify-self: start;
}
.justify-self-end{
  justify-self: end;
}
.justify-self-first-baseline{
  justify-self: first baseline;
}
.justify-self-last-baseline{
  justify-self: last baseline;
}
.justify-self-left{
  justify-self: left;
}
.justify-self-right{
  justify-self: right;
}


.flex-no-grow{
    flex-grow: 0;
}
.flex-no-shrink{
    flex-shrink: 0;
}
.flex-grow{
  flex-grow: 1;
}
.flex-shrink{
  flex-shrink: 1;
}
.flex-wrap{
    flex-wrap: wrap;
}
.flex-no-wrap{
    flex-wrap: nowrap;
}
/* Text Align */
.text-align-left {
  text-align: left;
}
.text-align-right {
  text-align: right;
}
.text-align-center {
  text-align: center;
}
.text-align-justify {
  text-align: justify;
}

.cursor-pointer {
  cursor: pointer;
}
.cursor-not-allowed {
  cursor: not-allowed;
}
.cursor-grab {
  cursor: grab;
}
.cursor-progress {
  cursor: progress;
}

/* Hover Effect */
.hover-filter:hover {
  transition: 0.2s all;
  filter: brightness(0.8);
}
.hover-scale:hover{
  transform: scale(1.25);
}
/* Active Effect */
.active-filter:active {
  transition: 0.2s all;
  filter: brightness(0.98);
}
.active-scale:active{
  transform: scale(1.25);
}
/* Transition */
.tiny-transition{
  transition: 0.2s all ease;
}
.md-transition{
  transition: 1s all ease;
}
.lg-transition{
  transition: 2.5s all ease;
}
.xl-transition{
  transition: 5s all ease;
}


/* For Differentiating List or Table Even and odd Rows  */
.odd {
  filter: brightness(0.9);
}
