// foregrounds 🗨
$primary: #329cff;
$secondary: #9db2fa;
$success: #3ad375;
$danger: #eb4e5e;
$warning:  #f7af5d;
$chill: #df51d8;
// individuals
$gray: #393E41;
$white: #FBF5F3;
$darkblue: #000022;
// backgrounds 🗯
$primary-bg: #fff;
$secondary-bg: #eeeded;
// fonts
$text-dark: #292929;
$text-light: #f8f8f8;
// constants 🚧
$transition-duration: 0.2s;
$animation-curve: ease;
$darken-const: 10%;
$radius-const: 5;
$scale-const: 0.95;
$hover-const: 0.5;
// multi prop
$border-prop: 1px solid; //keep the order same