<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="buttons.css" />
  <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.3/css/bootstrap.min.css"/> -->
  <title>Document</title>
</head>

<body>
  <button class="btn">Button</button>
  <button class="btn primary">primary</button>
  <button class="btn secondary">secondary</button>
  <button class="btn warning">warning</button>
  <button class="btn success">success</button>
  <button class="btn danger">danger</button>
  <button class="btn chill">chill</button>
  <br>
  <br>
  <button class="btn primary-bordered">primary</button>
  <button class="btn secondary-bordered">secondary</button>
  <button class="btn warning-bordered">warning</button>
  <button class="btn success-bordered">success</button>
  <button class="btn danger-bordered">danger</button>
  <button class="btn chill-bordered">chill</button>
  <br>
  <br>
  <button class="link primary-link">primary</button>
  <button class="link secondary-link">secondary</button>
  <button class="link warning-link">warning</button>
  <button class="link success-link">success</button>
  <button class="link danger-link">danger</button>
  <button class="link chill-link">chill</button>
</body>

</html>