body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.item {
  border: 1px black solid;
}

/*! Bug */
.display-grid {
  display: grid;
}

/* * For Responsive Grid Template Areas */
.template-col-responsive {
  grid-template-columns: repeat(autofill, minmax(auto, 1fr));
}

.template-row-responsive {
  grid-template-rows: repeat(autofill, minmax(auto, 1fr));
}

.template-area-responsive {
  grid-template-columns: repeat(autofill, minmax(auto, 1fr));
  grid-template-rows: repeat(autofill, minmax(auto, 1fr));
}

.template-row-3 {
  grid-template-rows: repeat(3, 1fr);
}

.template-col-3 {
  grid-template-columns: repeat(3, 1fr);
}

.template-row-6 {
  grid-template-rows: repeat(6, 1fr);
}

.template-col-6 {
  grid-template-columns: repeat(6, 1fr);
}

.template-row-9 {
  grid-template-rows: repeat(9, 1fr);
}

.template-col-9 {
  grid-template-columns: repeat(9, 1fr);
}

.template-row-12 {
  grid-template-rows: repeat(12, 1fr);
}

.template-col-12 {
  grid-template-columns: repeat(12, 1fr);
}

.template-row-16 {
  grid-template-rows: repeat(16, 1fr);
}

.template-col-16 {
  grid-template-columns: repeat(16, 1fr);
}

.template-row-24 {
  grid-template-rows: repeat(24, 1fr);
}

.template-col-24 {
  grid-template-columns: repeat(24, 1fr);
}

.template-area {
  grid-template-areas: "row-1-col-1 row-1-col-2 row-1-col-3 row-1-col-4 row-1-col-5" "row-2-col-1 row-2-col-2 row-2-col-3 row-2-col-4 row-2-col-5" "row-3-col-1 row-3-col-2 row-3-col-3 row-3-col-4 row-3-col-5" "row-4-col-1 row-4-col-2 row-4-col-3 row-4-col-4 row-4-col-5" "row-5-col-1 row-5-col-2 row-5-col-3 row-5-col-4 row-5-col-5";
}

.row-1-col-1 {
  grid-row-start: 1;
  grid-column-start: 1;
}

.row-1-col-2 {
  grid-row-start: 1;
  grid-column-start: 2;
}

.row-1-col-3 {
  grid-row-start: 1;
  grid-column-start: 3;
}

.row-1-col-4 {
  grid-row-start: 1;
  grid-column-start: 4;
}

.row-1-col-5 {
  grid-row-start: 1;
  grid-column-start: 5;
}

.row-1-col-6 {
  grid-row-start: 1;
  grid-column-start: 6;
}

.row-1-col-7 {
  grid-row-start: 1;
  grid-column-start: 7;
}

.row-1-col-8 {
  grid-row-start: 1;
  grid-column-start: 8;
}

.row-1-col-9 {
  grid-row-start: 1;
  grid-column-start: 9;
}

.row-1-col-10 {
  grid-row-start: 1;
  grid-column-start: 10;
}

.row-1-col-11 {
  grid-row-start: 1;
  grid-column-start: 11;
}

.row-1-col-12 {
  grid-row-start: 1;
  grid-column-start: 12;
}

.row-1-col-13 {
  grid-row-start: 1;
  grid-column-start: 13;
}

.row-1-col-14 {
  grid-row-start: 1;
  grid-column-start: 14;
}

.row-1-col-15 {
  grid-row-start: 1;
  grid-column-start: 15;
}

.row-1-col-16 {
  grid-row-start: 1;
  grid-column-start: 16;
}

.row-1-col-17 {
  grid-row-start: 1;
  grid-column-start: 17;
}

.row-1-col-18 {
  grid-row-start: 1;
  grid-column-start: 18;
}

.row-1-col-19 {
  grid-row-start: 1;
  grid-column-start: 19;
}

.row-1-col-20 {
  grid-row-start: 1;
  grid-column-start: 20;
}

.row-1-col-21 {
  grid-row-start: 1;
  grid-column-start: 21;
}

.row-1-col-22 {
  grid-row-start: 1;
  grid-column-start: 22;
}

.row-1-col-23 {
  grid-row-start: 1;
  grid-column-start: 23;
}

.row-1-col-24 {
  grid-row-start: 1;
  grid-column-start: 24;
}

/* ?----------------? */
.row-2-col-1 {
  grid-row-start: 2;
  grid-column-start: 1;
}

.row-2-col-2 {
  grid-row-start: 2;
  grid-column-start: 2;
}

.row-2-col-3 {
  grid-row-start: 2;
  grid-column-start: 3;
}

.row-2-col-4 {
  grid-row-start: 2;
  grid-column-start: 4;
}

.row-2-col-5 {
  grid-row-start: 2;
  grid-column-start: 5;
}

.row-2-col-6 {
  grid-row-start: 1;
  grid-column-start: 6;
}

.row-2-col-7 {
  grid-row-start: 1;
  grid-column-start: 7;
}

.row-2-col-8 {
  grid-row-start: 1;
  grid-column-start: 8;
}

.row-2-col-9 {
  grid-row-start: 1;
  grid-column-start: 9;
}

.row-2-col-10 {
  grid-row-start: 1;
  grid-column-start: 10;
}

.row-2-col-11 {
  grid-row-start: 1;
  grid-column-start: 11;
}

.row-2-col-12 {
  grid-row-start: 1;
  grid-column-start: 12;
}

.row-2-col-13 {
  grid-row-start: 1;
  grid-column-start: 13;
}

.row-2-col-14 {
  grid-row-start: 1;
  grid-column-start: 14;
}

.row-2-col-15 {
  grid-row-start: 1;
  grid-column-start: 15;
}

.row-2-col-16 {
  grid-row-start: 1;
  grid-column-start: 16;
}

.row-2-col-17 {
  grid-row-start: 1;
  grid-column-start: 17;
}

.row-2-col-18 {
  grid-row-start: 1;
  grid-column-start: 18;
}

.row-2-col-19 {
  grid-row-start: 1;
  grid-column-start: 19;
}

.row-2-col-20 {
  grid-row-start: 1;
  grid-column-start: 20;
}

.row-2-col-21 {
  grid-row-start: 1;
  grid-column-start: 21;
}

.row-2-col-22 {
  grid-row-start: 1;
  grid-column-start: 22;
}

.row-2-col-23 {
  grid-row-start: 1;
  grid-column-start: 23;
}

.row-2-col-24 {
  grid-row-start: 1;
  grid-column-start: 24;
}

/* ?--------------------? */
.row-3-col-1 {
  grid-row-start: 3;
  grid-column-start: 1;
}

.row-3-col-2 {
  grid-row-start: 3;
  grid-column-start: 2;
}

.row-3-col-3 {
  grid-row-start: 3;
  grid-column-start: 3;
}

.row-3-col-4 {
  grid-row-start: 3;
  grid-column-start: 4;
}

.row-3-col-5 {
  grid-row-start: 3;
  grid-column-start: 5;
}

.row-3-col-6 {
  grid-row-start: 1;
  grid-column-start: 6;
}

.row-3-col-7 {
  grid-row-start: 1;
  grid-column-start: 7;
}

.row-3-col-8 {
  grid-row-start: 1;
  grid-column-start: 8;
}

.row-3-col-9 {
  grid-row-start: 1;
  grid-column-start: 9;
}

.row-3-col-10 {
  grid-row-start: 1;
  grid-column-start: 10;
}

.row-3-col-11 {
  grid-row-start: 1;
  grid-column-start: 11;
}

.row-3-col-12 {
  grid-row-start: 1;
  grid-column-start: 12;
}

.row-3-col-13 {
  grid-row-start: 1;
  grid-column-start: 13;
}

.row-3-col-14 {
  grid-row-start: 1;
  grid-column-start: 14;
}

.row-3-col-15 {
  grid-row-start: 1;
  grid-column-start: 15;
}

.row-3-col-16 {
  grid-row-start: 1;
  grid-column-start: 16;
}

.row-3-col-17 {
  grid-row-start: 1;
  grid-column-start: 17;
}

.row-3-col-18 {
  grid-row-start: 1;
  grid-column-start: 18;
}

.row-3-col-19 {
  grid-row-start: 1;
  grid-column-start: 19;
}

.row-3-col-20 {
  grid-row-start: 1;
  grid-column-start: 20;
}

.row-3-col-21 {
  grid-row-start: 1;
  grid-column-start: 21;
}

.row-3-col-22 {
  grid-row-start: 1;
  grid-column-start: 22;
}

.row-3-col-23 {
  grid-row-start: 1;
  grid-column-start: 23;
}

.row-3-col-24 {
  grid-row-start: 1;
  grid-column-start: 24;
}

/* ?-------------------? */
.row-4-col-1 {
  grid-row-start: 4;
  grid-column-start: 1;
}

.row-4-col-2 {
  grid-row-start: 4;
  grid-column-start: 2;
}

.row-4-col-3 {
  grid-row-start: 4;
  grid-column-start: 3;
}

.row-4-col-4 {
  grid-row-start: 4;
  grid-column-start: 4;
}

.row-4-col-5 {
  grid-row-start: 4;
  grid-column-start: 5;
}

.row-4-col-6 {
  grid-row-start: 1;
  grid-column-start: 6;
}

.row-4-col-7 {
  grid-row-start: 1;
  grid-column-start: 7;
}

.row-4-col-8 {
  grid-row-start: 1;
  grid-column-start: 8;
}

.row-4-col-9 {
  grid-row-start: 1;
  grid-column-start: 9;
}

.row-4-col-10 {
  grid-row-start: 1;
  grid-column-start: 10;
}

.row-4-col-11 {
  grid-row-start: 1;
  grid-column-start: 11;
}

.row-4-col-12 {
  grid-row-start: 1;
  grid-column-start: 12;
}

.row-4-col-13 {
  grid-row-start: 1;
  grid-column-start: 13;
}

.row-4-col-14 {
  grid-row-start: 1;
  grid-column-start: 14;
}

.row-4-col-15 {
  grid-row-start: 1;
  grid-column-start: 15;
}

.row-4-col-16 {
  grid-row-start: 1;
  grid-column-start: 16;
}

.row-4-col-17 {
  grid-row-start: 1;
  grid-column-start: 17;
}

.row-4-col-18 {
  grid-row-start: 1;
  grid-column-start: 18;
}

.row-4-col-19 {
  grid-row-start: 1;
  grid-column-start: 19;
}

.row-4-col-20 {
  grid-row-start: 1;
  grid-column-start: 20;
}

.row-4-col-21 {
  grid-row-start: 1;
  grid-column-start: 21;
}

.row-4-col-22 {
  grid-row-start: 1;
  grid-column-start: 22;
}

.row-4-col-23 {
  grid-row-start: 1;
  grid-column-start: 23;
}

.row-4-col-24 {
  grid-row-start: 1;
  grid-column-start: 24;
}

/* ?---------------? */
.row-5-col-1 {
  grid-row-start: 5;
  grid-column-start: 1;
}

.row-5-col-2 {
  grid-row-start: 5;
  grid-column-start: 2;
}

.row-5-col-3 {
  grid-row-start: 5;
  grid-column-start: 3;
}

.row-5-col-4 {
  grid-row-start: 5;
  grid-column-start: 4;
}

.row-5-col-5 {
  grid-row-start: 5;
  grid-column-start: 5;
}

.row-5-col-6 {
  grid-row-start: 1;
  grid-column-start: 6;
}

.row-5-col-7 {
  grid-row-start: 1;
  grid-column-start: 7;
}

.row-5-col-8 {
  grid-row-start: 1;
  grid-column-start: 8;
}

.row-5-col-9 {
  grid-row-start: 1;
  grid-column-start: 9;
}

.row-5-col-10 {
  grid-row-start: 1;
  grid-column-start: 10;
}

.row-5-col-11 {
  grid-row-start: 1;
  grid-column-start: 11;
}

.row-5-col-12 {
  grid-row-start: 1;
  grid-column-start: 12;
}

.row-5-col-13 {
  grid-row-start: 1;
  grid-column-start: 13;
}

.row-5-col-14 {
  grid-row-start: 1;
  grid-column-start: 14;
}

.row-5-col-15 {
  grid-row-start: 1;
  grid-column-start: 15;
}

.row-5-col-16 {
  grid-row-start: 1;
  grid-column-start: 16;
}

.row-5-col-17 {
  grid-row-start: 1;
  grid-column-start: 17;
}

.row-5-col-18 {
  grid-row-start: 1;
  grid-column-start: 18;
}

.row-5-col-19 {
  grid-row-start: 1;
  grid-column-start: 19;
}

.row-5-col-20 {
  grid-row-start: 1;
  grid-column-start: 20;
}

.row-5-col-21 {
  grid-row-start: 1;
  grid-column-start: 21;
}

.row-5-col-22 {
  grid-row-start: 1;
  grid-column-start: 22;
}

.row-5-col-23 {
  grid-row-start: 1;
  grid-column-start: 23;
}

.row-5-col-24 {
  grid-row-start: 1;
  grid-column-start: 24;
}

/* ?---------------? */
.row-6-col-1 {
  grid-row-start: 5;
  grid-column-start: 1;
}

.row-6-col-2 {
  grid-row-start: 5;
  grid-column-start: 2;
}

.row-6-col-3 {
  grid-row-start: 5;
  grid-column-start: 3;
}

.row-6-col-4 {
  grid-row-start: 5;
  grid-column-start: 4;
}

.row-6-col-5 {
  grid-row-start: 5;
  grid-column-start: 5;
}

.row-6-col-6 {
  grid-row-start: 1;
  grid-column-start: 6;
}

.row-6-col-7 {
  grid-row-start: 1;
  grid-column-start: 7;
}

.row-6-col-8 {
  grid-row-start: 1;
  grid-column-start: 8;
}

.row-6-col-9 {
  grid-row-start: 1;
  grid-column-start: 9;
}

.row-6-col-10 {
  grid-row-start: 1;
  grid-column-start: 10;
}

.row-6-col-11 {
  grid-row-start: 1;
  grid-column-start: 11;
}

.row-6-col-12 {
  grid-row-start: 1;
  grid-column-start: 12;
}

.row-6-col-13 {
  grid-row-start: 1;
  grid-column-start: 13;
}

.row-6-col-14 {
  grid-row-start: 1;
  grid-column-start: 14;
}

.row-6-col-15 {
  grid-row-start: 1;
  grid-column-start: 15;
}

.row-6-col-16 {
  grid-row-start: 1;
  grid-column-start: 16;
}

.row-6-col-17 {
  grid-row-start: 1;
  grid-column-start: 17;
}

.row-6-col-18 {
  grid-row-start: 1;
  grid-column-start: 18;
}

.row-6-col-19 {
  grid-row-start: 1;
  grid-column-start: 19;
}

.row-6-col-20 {
  grid-row-start: 1;
  grid-column-start: 20;
}

.row-6-col-21 {
  grid-row-start: 1;
  grid-column-start: 21;
}

.row-6-col-22 {
  grid-row-start: 1;
  grid-column-start: 22;
}

.row-6-col-23 {
  grid-row-start: 1;
  grid-column-start: 23;
}

.row-6-col-24 {
  grid-row-start: 1;
  grid-column-start: 24;
}

/* ?---------------? */
.row-7-col-1 {
  grid-row-start: 5;
  grid-column-start: 1;
}

.row-7-col-2 {
  grid-row-start: 5;
  grid-column-start: 2;
}

.row-7-col-3 {
  grid-row-start: 5;
  grid-column-start: 3;
}

.row-7-col-4 {
  grid-row-start: 5;
  grid-column-start: 4;
}

.row-7-col-5 {
  grid-row-start: 5;
  grid-column-start: 5;
}

.row-7-col-6 {
  grid-row-start: 1;
  grid-column-start: 6;
}

.row-7-col-7 {
  grid-row-start: 1;
  grid-column-start: 7;
}

.row-7-col-8 {
  grid-row-start: 1;
  grid-column-start: 8;
}

.row-7-col-9 {
  grid-row-start: 1;
  grid-column-start: 9;
}

.row-7-col-10 {
  grid-row-start: 1;
  grid-column-start: 10;
}

.row-7-col-11 {
  grid-row-start: 1;
  grid-column-start: 11;
}

.row-7-col-12 {
  grid-row-start: 1;
  grid-column-start: 12;
}

.row-7-col-13 {
  grid-row-start: 1;
  grid-column-start: 13;
}

.row-7-col-14 {
  grid-row-start: 1;
  grid-column-start: 14;
}

.row-7-col-15 {
  grid-row-start: 1;
  grid-column-start: 15;
}

.row-7-col-16 {
  grid-row-start: 1;
  grid-column-start: 16;
}

.row-7-col-17 {
  grid-row-start: 1;
  grid-column-start: 17;
}

.row-7-col-18 {
  grid-row-start: 1;
  grid-column-start: 18;
}

.row-7-col-19 {
  grid-row-start: 1;
  grid-column-start: 19;
}

.row-7-col-20 {
  grid-row-start: 1;
  grid-column-start: 20;
}

.row-7-col-21 {
  grid-row-start: 1;
  grid-column-start: 21;
}

.row-7-col-22 {
  grid-row-start: 1;
  grid-column-start: 22;
}

.row-7-col-23 {
  grid-row-start: 1;
  grid-column-start: 23;
}

.row-7-col-24 {
  grid-row-start: 1;
  grid-column-start: 24;
}

/* ?---------------? */
.row-8-col-1 {
  grid-row-start: 5;
  grid-column-start: 1;
}

.row-8-col-2 {
  grid-row-start: 5;
  grid-column-start: 2;
}

.row-8-col-3 {
  grid-row-start: 5;
  grid-column-start: 3;
}

.row-8-col-4 {
  grid-row-start: 5;
  grid-column-start: 4;
}

.row-8-col-5 {
  grid-row-start: 5;
  grid-column-start: 5;
}

.row-8-col-6 {
  grid-row-start: 1;
  grid-column-start: 6;
}

.row-8-col-7 {
  grid-row-start: 1;
  grid-column-start: 7;
}

.row-8-col-8 {
  grid-row-start: 1;
  grid-column-start: 8;
}

.row-8-col-9 {
  grid-row-start: 1;
  grid-column-start: 9;
}

.row-8-col-10 {
  grid-row-start: 1;
  grid-column-start: 10;
}

.row-8-col-11 {
  grid-row-start: 1;
  grid-column-start: 11;
}

.row-8-col-12 {
  grid-row-start: 1;
  grid-column-start: 12;
}

.row-8-col-13 {
  grid-row-start: 1;
  grid-column-start: 13;
}

.row-8-col-14 {
  grid-row-start: 1;
  grid-column-start: 14;
}

.row-8-col-15 {
  grid-row-start: 1;
  grid-column-start: 15;
}

.row-8-col-16 {
  grid-row-start: 1;
  grid-column-start: 16;
}

.row-8-col-17 {
  grid-row-start: 1;
  grid-column-start: 17;
}

.row-8-col-18 {
  grid-row-start: 1;
  grid-column-start: 18;
}

.row-8-col-19 {
  grid-row-start: 1;
  grid-column-start: 19;
}

.row-8-col-20 {
  grid-row-start: 1;
  grid-column-start: 20;
}

.row-8-col-21 {
  grid-row-start: 1;
  grid-column-start: 21;
}

.row-8-col-22 {
  grid-row-start: 1;
  grid-column-start: 22;
}

.row-8-col-23 {
  grid-row-start: 1;
  grid-column-start: 23;
}

.row-8-col-24 {
  grid-row-start: 1;
  grid-column-start: 24;
}

/* ?---------------? */
.row-9-col-1 {
  grid-row-start: 5;
  grid-column-start: 1;
}

.row-9-col-2 {
  grid-row-start: 5;
  grid-column-start: 2;
}

.row-9-col-3 {
  grid-row-start: 5;
  grid-column-start: 3;
}

.row-9-col-4 {
  grid-row-start: 5;
  grid-column-start: 4;
}

.row-9-col-5 {
  grid-row-start: 5;
  grid-column-start: 5;
}

.row-9-col-6 {
  grid-row-start: 1;
  grid-column-start: 6;
}

.row-9-col-7 {
  grid-row-start: 1;
  grid-column-start: 7;
}

.row-9-col-8 {
  grid-row-start: 1;
  grid-column-start: 8;
}

.row-9-col-9 {
  grid-row-start: 1;
  grid-column-start: 9;
}

.row-9-col-10 {
  grid-row-start: 1;
  grid-column-start: 10;
}

.row-9-col-11 {
  grid-row-start: 1;
  grid-column-start: 11;
}

.row-9-col-12 {
  grid-row-start: 1;
  grid-column-start: 12;
}

.row-9-col-13 {
  grid-row-start: 1;
  grid-column-start: 13;
}

.row-9-col-14 {
  grid-row-start: 1;
  grid-column-start: 14;
}

.row-9-col-15 {
  grid-row-start: 1;
  grid-column-start: 15;
}

.row-9-col-16 {
  grid-row-start: 1;
  grid-column-start: 16;
}

.row-9-col-17 {
  grid-row-start: 1;
  grid-column-start: 17;
}

.row-9-col-18 {
  grid-row-start: 1;
  grid-column-start: 18;
}

.row-9-col-19 {
  grid-row-start: 1;
  grid-column-start: 19;
}

.row-9-col-20 {
  grid-row-start: 1;
  grid-column-start: 20;
}

.row-9-col-21 {
  grid-row-start: 1;
  grid-column-start: 21;
}

.row-9-col-22 {
  grid-row-start: 1;
  grid-column-start: 22;
}

.row-9-col-23 {
  grid-row-start: 1;
  grid-column-start: 23;
}

.row-9-col-24 {
  grid-row-start: 1;
  grid-column-start: 24;
}

/* ?---------------? */
.row-10-col-1 {
  grid-row-start: 5;
  grid-column-start: 1;
}

.row-10-col-2 {
  grid-row-start: 5;
  grid-column-start: 2;
}

.row-10-col-3 {
  grid-row-start: 5;
  grid-column-start: 3;
}

.row-10-col-4 {
  grid-row-start: 5;
  grid-column-start: 4;
}

.row-10-col-5 {
  grid-row-start: 5;
  grid-column-start: 5;
}

.row-10-col-6 {
  grid-row-start: 1;
  grid-column-start: 6;
}

.row-10-col-7 {
  grid-row-start: 1;
  grid-column-start: 7;
}

.row-10-col-8 {
  grid-row-start: 1;
  grid-column-start: 8;
}

.row-10-col-9 {
  grid-row-start: 1;
  grid-column-start: 9;
}

.row-10-col-10 {
  grid-row-start: 1;
  grid-column-start: 10;
}

.row-10-col-11 {
  grid-row-start: 1;
  grid-column-start: 11;
}

.row-10-col-12 {
  grid-row-start: 1;
  grid-column-start: 12;
}

.row-10-col-13 {
  grid-row-start: 1;
  grid-column-start: 13;
}

.row-10-col-14 {
  grid-row-start: 1;
  grid-column-start: 14;
}

.row-10-col-15 {
  grid-row-start: 1;
  grid-column-start: 15;
}

.row-10-col-16 {
  grid-row-start: 1;
  grid-column-start: 16;
}

.row-10-col-17 {
  grid-row-start: 1;
  grid-column-start: 17;
}

.row-10-col-18 {
  grid-row-start: 1;
  grid-column-start: 18;
}

.row-10-col-19 {
  grid-row-start: 1;
  grid-column-start: 19;
}

.row-10-col-20 {
  grid-row-start: 1;
  grid-column-start: 20;
}

.row-10-col-21 {
  grid-row-start: 1;
  grid-column-start: 21;
}

.row-10-col-22 {
  grid-row-start: 1;
  grid-column-start: 22;
}

.row-10-col-23 {
  grid-row-start: 1;
  grid-column-start: 23;
}

.row-10-col-24 {
  grid-row-start: 1;
  grid-column-start: 24;
}

/* ?---------------? */
.row-11-col-1 {
  grid-row-start: 5;
  grid-column-start: 1;
}

.row-11-col-2 {
  grid-row-start: 5;
  grid-column-start: 2;
}

.row-11-col-3 {
  grid-row-start: 5;
  grid-column-start: 3;
}

.row-11-col-4 {
  grid-row-start: 5;
  grid-column-start: 4;
}

.row-11-col-5 {
  grid-row-start: 5;
  grid-column-start: 5;
}

.row-11-col-6 {
  grid-row-start: 1;
  grid-column-start: 6;
}

.row-11-col-7 {
  grid-row-start: 1;
  grid-column-start: 7;
}

.row-11-col-8 {
  grid-row-start: 1;
  grid-column-start: 8;
}

.row-11-col-9 {
  grid-row-start: 1;
  grid-column-start: 9;
}

.row-11-col-10 {
  grid-row-start: 1;
  grid-column-start: 10;
}

.row-11-col-11 {
  grid-row-start: 1;
  grid-column-start: 11;
}

.row-11-col-12 {
  grid-row-start: 1;
  grid-column-start: 12;
}

.row-11-col-13 {
  grid-row-start: 1;
  grid-column-start: 13;
}

.row-11-col-14 {
  grid-row-start: 1;
  grid-column-start: 14;
}

.row-11-col-15 {
  grid-row-start: 1;
  grid-column-start: 15;
}

.row-11-col-16 {
  grid-row-start: 1;
  grid-column-start: 16;
}

.row-11-col-17 {
  grid-row-start: 1;
  grid-column-start: 17;
}

.row-11-col-18 {
  grid-row-start: 1;
  grid-column-start: 18;
}

.row-11-col-19 {
  grid-row-start: 1;
  grid-column-start: 19;
}

.row-11-col-20 {
  grid-row-start: 1;
  grid-column-start: 20;
}

.row-11-col-21 {
  grid-row-start: 1;
  grid-column-start: 21;
}

.row-11-col-22 {
  grid-row-start: 1;
  grid-column-start: 22;
}

.row-11-col-23 {
  grid-row-start: 1;
  grid-column-start: 23;
}

.row-11-col-24 {
  grid-row-start: 1;
  grid-column-start: 24;
}

/* ?---------------? */
.row-12-col-1 {
  grid-row-start: 5;
  grid-column-start: 1;
}

.row-12-col-2 {
  grid-row-start: 5;
  grid-column-start: 2;
}

.row-12-col-3 {
  grid-row-start: 5;
  grid-column-start: 3;
}

.row-12-col-4 {
  grid-row-start: 5;
  grid-column-start: 4;
}

.row-12-col-5 {
  grid-row-start: 5;
  grid-column-start: 5;
}

.row-12-col-6 {
  grid-row-start: 1;
  grid-column-start: 6;
}

.row-12-col-7 {
  grid-row-start: 1;
  grid-column-start: 7;
}

.row-12-col-8 {
  grid-row-start: 1;
  grid-column-start: 8;
}

.row-12-col-9 {
  grid-row-start: 1;
  grid-column-start: 9;
}

.row-12-col-10 {
  grid-row-start: 1;
  grid-column-start: 10;
}

.row-12-col-11 {
  grid-row-start: 1;
  grid-column-start: 11;
}

.row-12-col-12 {
  grid-row-start: 1;
  grid-column-start: 12;
}

.row-12-col-13 {
  grid-row-start: 1;
  grid-column-start: 13;
}

.row-12-col-14 {
  grid-row-start: 1;
  grid-column-start: 14;
}

.row-12-col-15 {
  grid-row-start: 1;
  grid-column-start: 15;
}

.row-12-col-16 {
  grid-row-start: 1;
  grid-column-start: 16;
}

.row-12-col-17 {
  grid-row-start: 1;
  grid-column-start: 17;
}

.row-12-col-18 {
  grid-row-start: 1;
  grid-column-start: 18;
}

.row-12-col-19 {
  grid-row-start: 1;
  grid-column-start: 19;
}

.row-12-col-20 {
  grid-row-start: 1;
  grid-column-start: 20;
}

.row-12-col-21 {
  grid-row-start: 1;
  grid-column-start: 21;
}

.row-12-col-22 {
  grid-row-start: 1;
  grid-column-start: 22;
}

.row-12-col-23 {
  grid-row-start: 1;
  grid-column-start: 23;
}

.row-12-col-24 {
  grid-row-start: 1;
  grid-column-start: 24;
}

/* ?---------------? */
.row-13-col-1 {
  grid-row-start: 5;
  grid-column-start: 1;
}

.row-13-col-2 {
  grid-row-start: 5;
  grid-column-start: 2;
}

.row-13-col-3 {
  grid-row-start: 5;
  grid-column-start: 3;
}

.row-13-col-4 {
  grid-row-start: 5;
  grid-column-start: 4;
}

.row-13-col-5 {
  grid-row-start: 5;
  grid-column-start: 5;
}

.row-13-col-6 {
  grid-row-start: 1;
  grid-column-start: 6;
}

.row-13-col-7 {
  grid-row-start: 1;
  grid-column-start: 7;
}

.row-13-col-8 {
  grid-row-start: 1;
  grid-column-start: 8;
}

.row-13-col-9 {
  grid-row-start: 1;
  grid-column-start: 9;
}

.row-13-col-10 {
  grid-row-start: 1;
  grid-column-start: 10;
}

.row-13-col-11 {
  grid-row-start: 1;
  grid-column-start: 11;
}

.row-13-col-12 {
  grid-row-start: 1;
  grid-column-start: 12;
}

.row-13-col-13 {
  grid-row-start: 1;
  grid-column-start: 13;
}

.row-13-col-14 {
  grid-row-start: 1;
  grid-column-start: 14;
}

.row-13-col-15 {
  grid-row-start: 1;
  grid-column-start: 15;
}

.row-13-col-16 {
  grid-row-start: 1;
  grid-column-start: 16;
}

.row-13-col-17 {
  grid-row-start: 1;
  grid-column-start: 17;
}

.row-13-col-18 {
  grid-row-start: 1;
  grid-column-start: 18;
}

.row-13-col-19 {
  grid-row-start: 1;
  grid-column-start: 19;
}

.row-13-col-20 {
  grid-row-start: 1;
  grid-column-start: 20;
}

.row-13-col-21 {
  grid-row-start: 1;
  grid-column-start: 21;
}

.row-13-col-22 {
  grid-row-start: 1;
  grid-column-start: 22;
}

.row-13-col-23 {
  grid-row-start: 1;
  grid-column-start: 23;
}

.row-13-col-24 {
  grid-row-start: 1;
  grid-column-start: 24;
}

/* ?---------------? */
.row-14-col-1 {
  grid-row-start: 5;
  grid-column-start: 1;
}

.row-14-col-2 {
  grid-row-start: 5;
  grid-column-start: 2;
}

.row-14-col-3 {
  grid-row-start: 5;
  grid-column-start: 3;
}

.row-14-col-4 {
  grid-row-start: 5;
  grid-column-start: 4;
}

.row-14-col-5 {
  grid-row-start: 5;
  grid-column-start: 5;
}

.row-14-col-6 {
  grid-row-start: 1;
  grid-column-start: 6;
}

.row-14-col-7 {
  grid-row-start: 1;
  grid-column-start: 7;
}

.row-14-col-8 {
  grid-row-start: 1;
  grid-column-start: 8;
}

.row-14-col-9 {
  grid-row-start: 1;
  grid-column-start: 9;
}

.row-14-col-10 {
  grid-row-start: 1;
  grid-column-start: 10;
}

.row-14-col-11 {
  grid-row-start: 1;
  grid-column-start: 11;
}

.row-14-col-12 {
  grid-row-start: 1;
  grid-column-start: 12;
}

.row-14-col-13 {
  grid-row-start: 1;
  grid-column-start: 13;
}

.row-14-col-14 {
  grid-row-start: 1;
  grid-column-start: 14;
}

.row-14-col-15 {
  grid-row-start: 1;
  grid-column-start: 15;
}

.row-14-col-16 {
  grid-row-start: 1;
  grid-column-start: 16;
}

.row-14-col-17 {
  grid-row-start: 1;
  grid-column-start: 17;
}

.row-14-col-18 {
  grid-row-start: 1;
  grid-column-start: 18;
}

.row-14-col-19 {
  grid-row-start: 1;
  grid-column-start: 19;
}

.row-14-col-20 {
  grid-row-start: 1;
  grid-column-start: 20;
}

.row-14-col-21 {
  grid-row-start: 1;
  grid-column-start: 21;
}

.row-14-col-22 {
  grid-row-start: 1;
  grid-column-start: 22;
}

.row-14-col-23 {
  grid-row-start: 1;
  grid-column-start: 23;
}

.row-14-col-24 {
  grid-row-start: 1;
  grid-column-start: 24;
}

/* ?---------------? */
.row-15-col-1 {
  grid-row-start: 5;
  grid-column-start: 1;
}

.row-15-col-2 {
  grid-row-start: 5;
  grid-column-start: 2;
}

.row-15-col-3 {
  grid-row-start: 5;
  grid-column-start: 3;
}

.row-15-col-4 {
  grid-row-start: 5;
  grid-column-start: 4;
}

.row-15-col-5 {
  grid-row-start: 5;
  grid-column-start: 5;
}

.row-15-col-6 {
  grid-row-start: 1;
  grid-column-start: 6;
}

.row-15-col-7 {
  grid-row-start: 1;
  grid-column-start: 7;
}

.row-15-col-8 {
  grid-row-start: 1;
  grid-column-start: 8;
}

.row-15-col-9 {
  grid-row-start: 1;
  grid-column-start: 9;
}

.row-15-col-10 {
  grid-row-start: 1;
  grid-column-start: 10;
}

.row-15-col-11 {
  grid-row-start: 1;
  grid-column-start: 11;
}

.row-15-col-12 {
  grid-row-start: 1;
  grid-column-start: 12;
}

.row-15-col-13 {
  grid-row-start: 1;
  grid-column-start: 13;
}

.row-15-col-14 {
  grid-row-start: 1;
  grid-column-start: 14;
}

.row-15-col-15 {
  grid-row-start: 1;
  grid-column-start: 15;
}

.row-15-col-16 {
  grid-row-start: 1;
  grid-column-start: 16;
}

.row-15-col-17 {
  grid-row-start: 1;
  grid-column-start: 17;
}

.row-15-col-18 {
  grid-row-start: 1;
  grid-column-start: 18;
}

.row-15-col-19 {
  grid-row-start: 1;
  grid-column-start: 19;
}

.row-15-col-20 {
  grid-row-start: 1;
  grid-column-start: 20;
}

.row-15-col-21 {
  grid-row-start: 1;
  grid-column-start: 21;
}

.row-15-col-22 {
  grid-row-start: 1;
  grid-column-start: 22;
}

.row-15-col-23 {
  grid-row-start: 1;
  grid-column-start: 23;
}

.row-15-col-24 {
  grid-row-start: 1;
  grid-column-start: 24;
}

/* ?---------------? */
.row-16-col-1 {
  grid-row-start: 5;
  grid-column-start: 1;
}

.row-16-col-2 {
  grid-row-start: 5;
  grid-column-start: 2;
}

.row-16-col-3 {
  grid-row-start: 5;
  grid-column-start: 3;
}

.row-16-col-4 {
  grid-row-start: 5;
  grid-column-start: 4;
}

.row-16-col-5 {
  grid-row-start: 5;
  grid-column-start: 5;
}

.row-16-col-6 {
  grid-row-start: 1;
  grid-column-start: 6;
}

.row-16-col-7 {
  grid-row-start: 1;
  grid-column-start: 7;
}

.row-16-col-8 {
  grid-row-start: 1;
  grid-column-start: 8;
}

.row-16-col-9 {
  grid-row-start: 1;
  grid-column-start: 9;
}

.row-16-col-10 {
  grid-row-start: 1;
  grid-column-start: 10;
}

.row-16-col-11 {
  grid-row-start: 1;
  grid-column-start: 11;
}

.row-16-col-12 {
  grid-row-start: 1;
  grid-column-start: 12;
}

.row-16-col-13 {
  grid-row-start: 1;
  grid-column-start: 13;
}

.row-16-col-14 {
  grid-row-start: 1;
  grid-column-start: 14;
}

.row-16-col-15 {
  grid-row-start: 1;
  grid-column-start: 15;
}

.row-16-col-16 {
  grid-row-start: 1;
  grid-column-start: 16;
}

.row-16-col-17 {
  grid-row-start: 1;
  grid-column-start: 17;
}

.row-16-col-18 {
  grid-row-start: 1;
  grid-column-start: 18;
}

.row-16-col-19 {
  grid-row-start: 1;
  grid-column-start: 19;
}

.row-16-col-20 {
  grid-row-start: 1;
  grid-column-start: 20;
}

.row-16-col-21 {
  grid-row-start: 1;
  grid-column-start: 21;
}

.row-16-col-22 {
  grid-row-start: 1;
  grid-column-start: 22;
}

.row-16-col-23 {
  grid-row-start: 1;
  grid-column-start: 23;
}

.row-16-col-24 {
  grid-row-start: 1;
  grid-column-start: 24;
}

/* ?---------------? */
.row-17-col-1 {
  grid-row-start: 5;
  grid-column-start: 1;
}

.row-17-col-2 {
  grid-row-start: 5;
  grid-column-start: 2;
}

.row-17-col-3 {
  grid-row-start: 5;
  grid-column-start: 3;
}

.row-17-col-4 {
  grid-row-start: 5;
  grid-column-start: 4;
}

.row-17-col-5 {
  grid-row-start: 5;
  grid-column-start: 5;
}

.row-17-col-6 {
  grid-row-start: 1;
  grid-column-start: 6;
}

.row-17-col-7 {
  grid-row-start: 1;
  grid-column-start: 7;
}

.row-17-col-8 {
  grid-row-start: 1;
  grid-column-start: 8;
}

.row-17-col-9 {
  grid-row-start: 1;
  grid-column-start: 9;
}

.row-17-col-10 {
  grid-row-start: 1;
  grid-column-start: 10;
}

.row-17-col-11 {
  grid-row-start: 1;
  grid-column-start: 11;
}

.row-17-col-12 {
  grid-row-start: 1;
  grid-column-start: 12;
}

.row-17-col-13 {
  grid-row-start: 1;
  grid-column-start: 13;
}

.row-17-col-14 {
  grid-row-start: 1;
  grid-column-start: 14;
}

.row-17-col-15 {
  grid-row-start: 1;
  grid-column-start: 15;
}

.row-17-col-16 {
  grid-row-start: 1;
  grid-column-start: 16;
}

.row-17-col-17 {
  grid-row-start: 1;
  grid-column-start: 17;
}

.row-17-col-18 {
  grid-row-start: 1;
  grid-column-start: 18;
}

.row-17-col-19 {
  grid-row-start: 1;
  grid-column-start: 19;
}

.row-17-col-20 {
  grid-row-start: 1;
  grid-column-start: 20;
}

.row-17-col-21 {
  grid-row-start: 1;
  grid-column-start: 21;
}

.row-17-col-22 {
  grid-row-start: 1;
  grid-column-start: 22;
}

.row-17-col-23 {
  grid-row-start: 1;
  grid-column-start: 23;
}

.row-17-col-24 {
  grid-row-start: 1;
  grid-column-start: 24;
}

/* ?---------------? */
.row-18-col-1 {
  grid-row-start: 5;
  grid-column-start: 1;
}

.row-18-col-2 {
  grid-row-start: 5;
  grid-column-start: 2;
}

.row-18-col-3 {
  grid-row-start: 5;
  grid-column-start: 3;
}

.row-18-col-4 {
  grid-row-start: 5;
  grid-column-start: 4;
}

.row-18-col-5 {
  grid-row-start: 5;
  grid-column-start: 5;
}

.row-18-col-6 {
  grid-row-start: 1;
  grid-column-start: 6;
}

.row-18-col-7 {
  grid-row-start: 1;
  grid-column-start: 7;
}

.row-18-col-8 {
  grid-row-start: 1;
  grid-column-start: 8;
}

.row-18-col-9 {
  grid-row-start: 1;
  grid-column-start: 9;
}

.row-18-col-10 {
  grid-row-start: 1;
  grid-column-start: 10;
}

.row-18-col-11 {
  grid-row-start: 1;
  grid-column-start: 11;
}

.row-18-col-12 {
  grid-row-start: 1;
  grid-column-start: 12;
}

.row-18-col-13 {
  grid-row-start: 1;
  grid-column-start: 13;
}

.row-18-col-14 {
  grid-row-start: 1;
  grid-column-start: 14;
}

.row-18-col-15 {
  grid-row-start: 1;
  grid-column-start: 15;
}

.row-18-col-16 {
  grid-row-start: 1;
  grid-column-start: 16;
}

.row-18-col-17 {
  grid-row-start: 1;
  grid-column-start: 17;
}

.row-18-col-18 {
  grid-row-start: 1;
  grid-column-start: 18;
}

.row-18-col-19 {
  grid-row-start: 1;
  grid-column-start: 19;
}

.row-18-col-20 {
  grid-row-start: 1;
  grid-column-start: 20;
}

.row-18-col-21 {
  grid-row-start: 1;
  grid-column-start: 21;
}

.row-18-col-22 {
  grid-row-start: 1;
  grid-column-start: 22;
}

.row-18-col-23 {
  grid-row-start: 1;
  grid-column-start: 23;
}

.row-18-col-24 {
  grid-row-start: 1;
  grid-column-start: 24;
}

/* ?---------------? */
.row-19-col-1 {
  grid-row-start: 5;
  grid-column-start: 1;
}

.row-19-col-2 {
  grid-row-start: 5;
  grid-column-start: 2;
}

.row-19-col-3 {
  grid-row-start: 5;
  grid-column-start: 3;
}

.row-19-col-4 {
  grid-row-start: 5;
  grid-column-start: 4;
}

.row-19-col-5 {
  grid-row-start: 5;
  grid-column-start: 5;
}

.row-19-col-6 {
  grid-row-start: 1;
  grid-column-start: 6;
}

.row-19-col-7 {
  grid-row-start: 1;
  grid-column-start: 7;
}

.row-19-col-8 {
  grid-row-start: 1;
  grid-column-start: 8;
}

.row-19-col-9 {
  grid-row-start: 1;
  grid-column-start: 9;
}

.row-19-col-10 {
  grid-row-start: 1;
  grid-column-start: 10;
}

.row-19-col-11 {
  grid-row-start: 1;
  grid-column-start: 11;
}

.row-19-col-12 {
  grid-row-start: 1;
  grid-column-start: 12;
}

.row-19-col-13 {
  grid-row-start: 1;
  grid-column-start: 13;
}

.row-19-col-14 {
  grid-row-start: 1;
  grid-column-start: 14;
}

.row-19-col-15 {
  grid-row-start: 1;
  grid-column-start: 15;
}

.row-19-col-16 {
  grid-row-start: 1;
  grid-column-start: 16;
}

.row-19-col-17 {
  grid-row-start: 1;
  grid-column-start: 17;
}

.row-19-col-18 {
  grid-row-start: 1;
  grid-column-start: 18;
}

.row-19-col-19 {
  grid-row-start: 1;
  grid-column-start: 19;
}

.row-19-col-20 {
  grid-row-start: 1;
  grid-column-start: 20;
}

.row-19-col-21 {
  grid-row-start: 1;
  grid-column-start: 21;
}

.row-19-col-22 {
  grid-row-start: 1;
  grid-column-start: 22;
}

.row-19-col-23 {
  grid-row-start: 1;
  grid-column-start: 23;
}

.row-19-col-24 {
  grid-row-start: 1;
  grid-column-start: 24;
}

/* ?---------------? */
.row-20-col-1 {
  grid-row-start: 5;
  grid-column-start: 1;
}

.row-20-col-2 {
  grid-row-start: 5;
  grid-column-start: 2;
}

.row-20-col-3 {
  grid-row-start: 5;
  grid-column-start: 3;
}

.row-20-col-4 {
  grid-row-start: 5;
  grid-column-start: 4;
}

.row-20-col-5 {
  grid-row-start: 5;
  grid-column-start: 5;
}

.row-20-col-6 {
  grid-row-start: 1;
  grid-column-start: 6;
}

.row-20-col-7 {
  grid-row-start: 1;
  grid-column-start: 7;
}

.row-20-col-8 {
  grid-row-start: 1;
  grid-column-start: 8;
}

.row-20-col-9 {
  grid-row-start: 1;
  grid-column-start: 9;
}

.row-20-col-10 {
  grid-row-start: 1;
  grid-column-start: 10;
}

.row-20-col-11 {
  grid-row-start: 1;
  grid-column-start: 11;
}

.row-20-col-12 {
  grid-row-start: 1;
  grid-column-start: 12;
}

.row-20-col-13 {
  grid-row-start: 1;
  grid-column-start: 13;
}

.row-20-col-14 {
  grid-row-start: 1;
  grid-column-start: 14;
}

.row-20-col-15 {
  grid-row-start: 1;
  grid-column-start: 15;
}

.row-20-col-16 {
  grid-row-start: 1;
  grid-column-start: 16;
}

.row-20-col-17 {
  grid-row-start: 1;
  grid-column-start: 17;
}

.row-20-col-18 {
  grid-row-start: 1;
  grid-column-start: 18;
}

.row-20-col-19 {
  grid-row-start: 1;
  grid-column-start: 19;
}

.row-20-col-20 {
  grid-row-start: 1;
  grid-column-start: 20;
}

.row-20-col-21 {
  grid-row-start: 1;
  grid-column-start: 21;
}

.row-20-col-22 {
  grid-row-start: 1;
  grid-column-start: 22;
}

.row-20-col-23 {
  grid-row-start: 1;
  grid-column-start: 23;
}

.row-20-col-24 {
  grid-row-start: 1;
  grid-column-start: 24;
}

/* ?---------------? */
.row-21-col-1 {
  grid-row-start: 5;
  grid-column-start: 1;
}

.row-21-col-2 {
  grid-row-start: 5;
  grid-column-start: 2;
}

.row-21-col-3 {
  grid-row-start: 5;
  grid-column-start: 3;
}

.row-21-col-4 {
  grid-row-start: 5;
  grid-column-start: 4;
}

.row-21-col-5 {
  grid-row-start: 5;
  grid-column-start: 5;
}

.row-21-col-6 {
  grid-row-start: 1;
  grid-column-start: 6;
}

.row-21-col-7 {
  grid-row-start: 1;
  grid-column-start: 7;
}

.row-21-col-8 {
  grid-row-start: 1;
  grid-column-start: 8;
}

.row-21-col-9 {
  grid-row-start: 1;
  grid-column-start: 9;
}

.row-21-col-10 {
  grid-row-start: 1;
  grid-column-start: 10;
}

.row-21-col-11 {
  grid-row-start: 1;
  grid-column-start: 11;
}

.row-21-col-12 {
  grid-row-start: 1;
  grid-column-start: 12;
}

.row-21-col-13 {
  grid-row-start: 1;
  grid-column-start: 13;
}

.row-21-col-14 {
  grid-row-start: 1;
  grid-column-start: 14;
}

.row-21-col-15 {
  grid-row-start: 1;
  grid-column-start: 15;
}

.row-21-col-16 {
  grid-row-start: 1;
  grid-column-start: 16;
}

.row-21-col-17 {
  grid-row-start: 1;
  grid-column-start: 17;
}

.row-21-col-18 {
  grid-row-start: 1;
  grid-column-start: 18;
}

.row-21-col-19 {
  grid-row-start: 1;
  grid-column-start: 19;
}

.row-21-col-20 {
  grid-row-start: 1;
  grid-column-start: 20;
}

.row-21-col-21 {
  grid-row-start: 1;
  grid-column-start: 21;
}

.row-21-col-22 {
  grid-row-start: 1;
  grid-column-start: 22;
}

.row-21-col-23 {
  grid-row-start: 1;
  grid-column-start: 23;
}

.row-21-col-24 {
  grid-row-start: 1;
  grid-column-start: 24;
}

/* ?---------------? */
.row-22-col-1 {
  grid-row-start: 5;
  grid-column-start: 1;
}

.row-22-col-2 {
  grid-row-start: 5;
  grid-column-start: 2;
}

.row-22-col-3 {
  grid-row-start: 5;
  grid-column-start: 3;
}

.row-22-col-4 {
  grid-row-start: 5;
  grid-column-start: 4;
}

.row-22-col-5 {
  grid-row-start: 5;
  grid-column-start: 5;
}

.row-22-col-6 {
  grid-row-start: 1;
  grid-column-start: 6;
}

.row-22-col-7 {
  grid-row-start: 1;
  grid-column-start: 7;
}

.row-22-col-8 {
  grid-row-start: 1;
  grid-column-start: 8;
}

.row-22-col-9 {
  grid-row-start: 1;
  grid-column-start: 9;
}

.row-22-col-10 {
  grid-row-start: 1;
  grid-column-start: 10;
}

.row-22-col-11 {
  grid-row-start: 1;
  grid-column-start: 11;
}

.row-22-col-12 {
  grid-row-start: 1;
  grid-column-start: 12;
}

.row-22-col-13 {
  grid-row-start: 1;
  grid-column-start: 13;
}

.row-22-col-14 {
  grid-row-start: 1;
  grid-column-start: 14;
}

.row-22-col-15 {
  grid-row-start: 1;
  grid-column-start: 15;
}

.row-22-col-16 {
  grid-row-start: 1;
  grid-column-start: 16;
}

.row-22-col-17 {
  grid-row-start: 1;
  grid-column-start: 17;
}

.row-22-col-18 {
  grid-row-start: 1;
  grid-column-start: 18;
}

.row-22-col-19 {
  grid-row-start: 1;
  grid-column-start: 19;
}

.row-22-col-20 {
  grid-row-start: 1;
  grid-column-start: 20;
}

.row-22-col-21 {
  grid-row-start: 1;
  grid-column-start: 21;
}

.row-22-col-22 {
  grid-row-start: 1;
  grid-column-start: 22;
}

.row-22-col-23 {
  grid-row-start: 1;
  grid-column-start: 23;
}

.row-22-col-24 {
  grid-row-start: 1;
  grid-column-start: 24;
}

/* ?---------------? */
.row-23-col-1 {
  grid-row-start: 5;
  grid-column-start: 1;
}

.row-23-col-2 {
  grid-row-start: 5;
  grid-column-start: 2;
}

.row-23-col-3 {
  grid-row-start: 5;
  grid-column-start: 3;
}

.row-23-col-4 {
  grid-row-start: 5;
  grid-column-start: 4;
}

.row-23-col-5 {
  grid-row-start: 5;
  grid-column-start: 5;
}

.row-23-col-6 {
  grid-row-start: 1;
  grid-column-start: 6;
}

.row-23-col-7 {
  grid-row-start: 1;
  grid-column-start: 7;
}

.row-23-col-8 {
  grid-row-start: 1;
  grid-column-start: 8;
}

.row-23-col-9 {
  grid-row-start: 1;
  grid-column-start: 9;
}

.row-23-col-10 {
  grid-row-start: 1;
  grid-column-start: 10;
}

.row-23-col-11 {
  grid-row-start: 1;
  grid-column-start: 11;
}

.row-23-col-12 {
  grid-row-start: 1;
  grid-column-start: 12;
}

.row-23-col-13 {
  grid-row-start: 1;
  grid-column-start: 13;
}

.row-23-col-14 {
  grid-row-start: 1;
  grid-column-start: 14;
}

.row-23-col-15 {
  grid-row-start: 1;
  grid-column-start: 15;
}

.row-23-col-16 {
  grid-row-start: 1;
  grid-column-start: 16;
}

.row-23-col-17 {
  grid-row-start: 1;
  grid-column-start: 17;
}

.row-23-col-18 {
  grid-row-start: 1;
  grid-column-start: 18;
}

.row-23-col-19 {
  grid-row-start: 1;
  grid-column-start: 19;
}

.row-23-col-20 {
  grid-row-start: 1;
  grid-column-start: 20;
}

.row-23-col-21 {
  grid-row-start: 1;
  grid-column-start: 21;
}

.row-23-col-22 {
  grid-row-start: 1;
  grid-column-start: 22;
}

.row-23-col-23 {
  grid-row-start: 1;
  grid-column-start: 23;
}

.row-23-col-24 {
  grid-row-start: 1;
  grid-column-start: 24;
}

/* ?---------------? */
.row-24-col-1 {
  grid-row-start: 5;
  grid-column-start: 1;
}

.row-24-col-2 {
  grid-row-start: 5;
  grid-column-start: 2;
}

.row-24-col-3 {
  grid-row-start: 5;
  grid-column-start: 3;
}

.row-24-col-4 {
  grid-row-start: 5;
  grid-column-start: 4;
}

.row-24-col-5 {
  grid-row-start: 5;
  grid-column-start: 5;
}

.row-24-col-6 {
  grid-row-start: 1;
  grid-column-start: 6;
}

.row-24-col-7 {
  grid-row-start: 1;
  grid-column-start: 7;
}

.row-24-col-8 {
  grid-row-start: 1;
  grid-column-start: 8;
}

.row-24-col-9 {
  grid-row-start: 1;
  grid-column-start: 9;
}

.row-24-col-10 {
  grid-row-start: 1;
  grid-column-start: 10;
}

.row-24-col-11 {
  grid-row-start: 1;
  grid-column-start: 11;
}

.row-24-col-12 {
  grid-row-start: 1;
  grid-column-start: 12;
}

.row-24-col-13 {
  grid-row-start: 1;
  grid-column-start: 13;
}

.row-24-col-14 {
  grid-row-start: 1;
  grid-column-start: 14;
}

.row-24-col-15 {
  grid-row-start: 1;
  grid-column-start: 15;
}

.row-24-col-16 {
  grid-row-start: 1;
  grid-column-start: 16;
}

.row-24-col-17 {
  grid-row-start: 1;
  grid-column-start: 17;
}

.row-24-col-18 {
  grid-row-start: 1;
  grid-column-start: 18;
}

.row-24-col-19 {
  grid-row-start: 1;
  grid-column-start: 19;
}

.row-24-col-20 {
  grid-row-start: 1;
  grid-column-start: 20;
}

.row-24-col-21 {
  grid-row-start: 1;
  grid-column-start: 21;
}

.row-24-col-22 {
  grid-row-start: 1;
  grid-column-start: 22;
}

.row-24-col-23 {
  grid-row-start: 1;
  grid-column-start: 23;
}

.row-24-col-24 {
  grid-row-start: 1;
  grid-column-start: 24;
}

/* ! Experimental  */
/* * Grid row start */
.row-start-1 {
  grid-row-start: 1;
}

.row-start-2 {
  grid-row-start: 2;
}

.row-start-3 {
  grid-row-start: 3;
}

.row-start-4 {
  grid-row-start: 4;
}

.row-start-5 {
  grid-row-start: 5;
}

.row-start-6 {
  grid-row-start: 6;
}

.row-start-7 {
  grid-row-start: 7;
}

.row-start-8 {
  grid-row-start: 8;
}

.row-start-9 {
  grid-row-start: 9;
}

.row-start-10 {
  grid-row-start: 10;
}

.row-start-11 {
  grid-row-start: 11;
}

.row-start-12 {
  grid-row-start: 12;
}

.row-start-13 {
  grid-row-start: 13;
}

.row-start-14 {
  grid-row-start: 14;
}

.row-start-15 {
  grid-row-start: 15;
}

.row-start-16 {
  grid-row-start: 16;
}

.row-start-17 {
  grid-row-start: 17;
}

.row-start-18 {
  grid-row-start: 18;
}

.row-start-19 {
  grid-row-start: 19;
}

.row-start-20 {
  grid-row-start: 20;
}

.row-start-21 {
  grid-row-start: 21;
}

.row-start-22 {
  grid-row-start: 22;
}

.row-start-23 {
  grid-row-start: 23;
}

.row-start-24 {
  grid-row-start: 24;
}

/* * Grid Row End */
.row-end-1 {
  grid-row-end: 1;
}

.row-end-2 {
  grid-row-end: 2;
}

.row-end-3 {
  grid-row-end: 3;
}

.row-end-4 {
  grid-row-end: 4;
}

.row-end-5 {
  grid-row-end: 5;
}

.row-end-6 {
  grid-row-end: 6;
}

.row-end-7 {
  grid-row-end: 7;
}

.row-end-8 {
  grid-row-end: 8;
}

.row-end-9 {
  grid-row-end: 9;
}

.row-end-10 {
  grid-row-end: 10;
}

.row-end-11 {
  grid-row-end: 11;
}

.row-end-12 {
  grid-row-end: 12;
}

.row-end-13 {
  grid-row-end: 13;
}

.row-end-14 {
  grid-row-end: 14;
}

.row-end-15 {
  grid-row-end: 15;
}

.row-end-16 {
  grid-row-end: 16;
}

.row-end-17 {
  grid-row-end: 17;
}

.row-end-18 {
  grid-row-end: 18;
}

.row-end-19 {
  grid-row-end: 19;
}

.row-end-20 {
  grid-row-end: 20;
}

.row-end-21 {
  grid-row-end: 21;
}

.row-end-22 {
  grid-row-end: 22;
}

.row-end-23 {
  grid-row-end: 23;
}

.row-end-24 {
  grid-row-end: 24;
}

/* *Grid Column Start  */
.col-start-1 {
  grid-column-start: 1;
}

.col-start-2 {
  grid-column-start: 2;
}

.col-start-3 {
  grid-column-start: 3;
}

.col-start-4 {
  grid-column-start: 4;
}

.col-start-5 {
  grid-column-start: 5;
}

.col-start-6 {
  grid-column-start: 6;
}

.col-start-7 {
  grid-column-start: 7;
}

.col-start-8 {
  grid-column-start: 8;
}

.col-start-9 {
  grid-column-start: 9;
}

.col-start-10 {
  grid-column-start: 10;
}

.col-start-11 {
  grid-column-start: 11;
}

.col-start-12 {
  grid-column-start: 12;
}

.col-start-13 {
  grid-column-start: 13;
}

.col-start-14 {
  grid-column-start: 14;
}

.col-start-15 {
  grid-column-start: 15;
}

.col-start-16 {
  grid-column-start: 16;
}

.col-start-17 {
  grid-column-start: 17;
}

.col-start-18 {
  grid-column-start: 18;
}

.col-start-19 {
  grid-column-start: 19;
}

.col-start-20 {
  grid-column-start: 20;
}

.col-start-21 {
  grid-column-start: 21;
}

.col-start-22 {
  grid-column-start: 22;
}

.col-start-23 {
  grid-column-start: 23;
}

.col-start-24 {
  grid-column-start: 24;
}

/* * Grid Column End */
.col-end-1 {
  grid-column-end: 1;
}

.col-end-2 {
  grid-column-end: 2;
}

.col-end-3 {
  grid-column-end: 3;
}

.col-end-4 {
  grid-column-end: 4;
}

.col-end-5 {
  grid-column-end: 5;
}

.col-end-6 {
  grid-column-end: 6;
}

.col-end-7 {
  grid-column-end: 7;
}

.col-end-8 {
  grid-column-end: 8;
}

.col-end-9 {
  grid-column-end: 9;
}

.col-end-10 {
  grid-column-end: 10;
}

.col-end-11 {
  grid-column-end: 11;
}

.col-end-12 {
  grid-column-end: 12;
}

.col-end-13 {
  grid-column-end: 13;
}

.col-end-14 {
  grid-column-end: 14;
}

.col-end-15 {
  grid-column-end: 15;
}

.col-end-16 {
  grid-column-end: 16;
}

.col-end-17 {
  grid-column-end: 17;
}

.col-end-18 {
  grid-column-end: 18;
}

.col-end-19 {
  grid-column-end: 19;
}

.col-end-20 {
  grid-column-end: 20;
}

.col-end-21 {
  grid-column-end: 21;
}

.col-end-22 {
  grid-column-end: 22;
}

.col-end-23 {
  grid-column-end: 23;
}

.col-end-24 {
  grid-column-end: 24;
}

/* * Grid row start & end auto */
.row-start-auto {
  grid-row-start: auto;
}

.row-end-auto {
  grid-row-end: auto;
}

/* * Grid column start & end auto */
.col-start-auto {
  grid-column-start: auto;
}

.col-end-auto {
  grid-column-end: auto;
}

/* * Grid Column Gap */
.col-gap-xs {
  column-gap: 5px;
}

.col-gap-tiny {
  column-gap: 10px;
}

.col-gap-md {
  column-gap: 18px;
}

.col-gap-qt {
  column-gap: 25px;
}

.col-gap-lg {
  column-gap: 40px;
}

.col-gap-xl {
  column-gap: 70px;
}

.col-gap-xxl {
  column-gap: 150px;
}

/** Grid Row Gap  */
.row-gap-xs {
  row-gap: 5px;
}

.row-gap-tiny {
  row-gap: 10px;
}

.row-gap-md {
  row-gap: 18px;
}

.row-gap-qt {
  row-gap: 25px;
}

.row-gap-lg {
  row-gap: 40px;
}

.row-gap-xl {
  row-gap: 70px;
}

.row-gap-xxl {
  row-gap: 150px;
}

.bg-blue {
  background-color: blue;
}